<div ng-show="products" ng-controller="ProductsCtrl" style="margin-top: -5px">
<div class="col-xs-18 col-sm-4 col-md-3" ng-repeat="product in products">
    <div class="productbox" ng-click="open(product.sku)">
        <div class="imgthumb img-responsive">
            <img ng-src="http://www.bestbuy.ca/{{product.thumbnailImage}}" class="product-thumb">
        </div>
        <div class="caption">
            <h5>{{product.name}}</h5>
            <p>{{product.salePrice | currency}}</p>
            <!-- <h5>{{product.description}}</h5>-->
            <!--  <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>-->
        </div>
    </div>
</div>


</div>



