<div ng-controller="ProductsCtrl" style="margin-top: -5px">
<div class="col-xs-18 col-sm-4 col-md-3" ng-repeat="product in products">
    <div class="productbox" ng-click="open(product.sku)">
        <div class="imgthumb img-responsive">
            <img ng-src="http://www.bestbuy.ca/{{product.thumbnailImage}}" class="product-thumb">
        </div>
        <div class="caption">
            <h5>{{product.name.substr(0, 24)}}</h5>
            <p>{{product.salePrice | currency}}</p>
            <!-- <h5>{{product.description}}</h5>-->
            <!--  <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>-->
        </div>
    </div>
</div>

    <script type="text/ng-template" id="productDetails.html">
        <div class="modal-header">
            <h3 class="modal-title">{{currentProduct.name}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
           <img ng-src="{{imageURL}}" class="product-image" />
           <p class="product-short-description">{{currentProduct.shortDescription}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Close</button>
        </div>
    </script>

</div>



